:root {
  /* Primary */
  --desaturated-red: hsl(0, 36%, 70%); /* text */
  --desaturated-red-lighter: hsla(0, 36%, 80%, 0.75); /* border, shadow */
  --soft-red: hsl(0, 93%, 68%); /* warning */

  /* Neutral */
  --dark-grayish-red: hsl(0, 6%, 24%); /* accent */

  /* Gradients */
  --gradient-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --gradient-btn-lighter: linear-gradient(135deg, hsl(0, 80%, 95%), hsl(0, 74%, 82%));
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--gradient-bg);
  display: grid;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.header__logo {
  max-width: 6.35rem;
}

picture, picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section__body {
  padding: 4rem 2rem;
  text-align: center;
  color: var(--desaturated-red);
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.hero__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: clamp(2.5rem, 0.5vw, 3rem);
  letter-spacing: 0.65rem;
  line-height: 3.15rem;
}

.hero__title > .accent {
  font-weight: 600;
  color: var(--dark-grayish-red);
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.input-container__email {
  background-color: transparent;
  border-radius: 5rem;
  padding: 0.75rem 1.5rem;
  padding-inline-end: 7rem;
  border: 1px solid var(--desaturated-red-lighter);
  flex-grow: 1;
  font-weight: 400;
  color: var(--dark-grayish-red);
}

.input-container__email::placeholder {
  color: var(--desaturated-red-lighter);
}

.input-container__email:hover {
  transition: border-color 0.5s ease;
  border-color: var(--desaturated-red);
}

.input-container__email[aria-invalid="true"] {
  border-color: var(--soft-red);
}

.input-container__submit-btn {
  border: none;
  padding: 0.9rem 1.75rem;
  background: var(--gradient-btn);
  border-radius: 5rem;
  position: absolute;
  right: 0;
  box-shadow: 0 0.75rem 1.25rem var(--desaturated-red-lighter);
}

.input-container__submit-btn:hover {
  background: var(--gradient-btn-lighter);
}

.input-container__error {
  visibility: hidden;
  position: absolute;
  bottom: -2rem;
  left: 1.5rem;
  color: var(--soft-red);
  font-size: 0.85rem;
}

.error-icon {
  visibility: hidden;
  position: absolute;
  right: 5rem;
}

.input-container__email[aria-invalid="true"] ~ .error {
  visibility: visible;
}

/* Media query */
@media only screen and (min-width: 80rem) {
  header {
    grid-area: header;
  }

  aside {
    grid-area: aside;
  }

  main {
    grid-area: main;
  }

  body {
    grid-template-areas:
      "header aside"
      "main aside";
    grid-template-rows: 15rem auto;
    grid-template-columns: 65rem auto;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-size: cover;
  }

  .header {
    padding: 5rem 15rem;
  }

  .header__logo {
    max-width: 10rem;
  }

  .hero-section {
    max-width: 65rem;
  }

  .hero-section__body {
    padding: 0rem 15rem;
    text-align: left;
    font-size: 1.25rem;
    gap: 2.5rem;
  }

  .hero__title {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .input-container__submit-btn {
    padding: 1.15rem 2.75rem;
  }

  .input-container__email {
    padding-inline-end: 10rem;
  }

  .input-container__error {
    font-size: 1rem;
  }

  .error-icon {
    right: 7rem;
  }
}